In [1]:
#import the libaries 

import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel("/content/googleplaystore.xlsx")

In [3]:
df

                                                     App  ...         Android Ver
0         Photo Editor & Candy Camera & Grid & ScrapBook  ...        4.0.3 and up
1                                    Coloring book moana  ...        4.0.3 and up
2      U Launcher Lite â€“ FREE Live Cool Themes, Hide ...  ...        4.0.3 and up
3                                  Sketch - Draw & Paint  ...          4.2 and up
4                  Pixel Draw - Number Art Coloring Book  ...          4.4 and up
...                                                  ...  ...                 ...
10836                                   Sya9a Maroc - FR  ...          4.1 and up
10837                   Fr. Mike Schmitz Audio Teachings  ...          4.1 and up
10838                             Parkinson Exercices FR  ...          2.2 and up
10839                      The SCP Foundation DB fr nn5n  ...  Varies with device
10840      iHoroscope - 2018 Daily Horoscope & Astrology  ...  Varies with device

[10841 rows x 13 columns]

In [4]:
df.isna().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [5]:
df["Rating"].fillna(df["Rating"].mean(),inplace=True )

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          10841 non-null  float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [7]:
df['Android_Version'] = df['Android Ver']
df['Current_Version'] = df['Current Ver']
df['Content_Rating'] = df['Content Rating']
df['Last_Updated'] = df['Last Updated']

In [8]:
df.drop(['Android Ver','Current Ver','Content Rating','Last Updated'], axis = 1,inplace=True)

In [9]:
df.Android_Version.unique()

array(['4.0.3 and up', '4.2 and up', '4.4 and up', '2.3 and up',
       '3.0 and up', '4.1 and up', '4.0 and up', '2.3.3 and up',
       'Varies with device', '2.2 and up', '5.0 and up', '6.0 and up',
       '1.6 and up', '1.5 and up', '2.1 and up', '7.0 and up',
       '5.1 and up', '4.3 and up', '4.0.3 - 7.1.1', '2.0 and up',
       '3.2 and up', '4.4W and up', '7.1 and up', '7.0 - 7.1.1',
       '8.0 and up', '5.0 - 8.0', '3.1 and up', '2.0.1 and up',
       '4.1 - 7.1.1', nan, '5.0 - 6.0', '1.0 and up', '2.2 - 7.1.1',
       '5.0 - 7.1.1'], dtype=object)

In [10]:
df.Current_Version.unique()

array(['1.0.0', '2.0.0', '1.2.4', ..., '1.0.612928', '0.3.4', '2.0.148.0'],
      dtype=object)

In [11]:
df.Content_Rating.unique()

array(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+',
       'Adults only 18+', 'Unrated', nan], dtype=object)

In [12]:
df.Type.value_counts()

Free    10039
Paid      800
0           1
Name: Type, dtype: int64

In [13]:
df["Type"].fillna('Paid' ,inplace=True )

In [14]:
df["Content_Rating"].fillna('Unrated' ,inplace=True )

In [15]:
df.dropna(how='any',inplace=True)

In [16]:
#1)What is the range of the size of most of the apps?
#2)What approach you will implement to fill the missing values of the Size column & why?

In [17]:
df.Size.unique()

array(['19M', '14M', '8.7M', '25M', '2.8M', '5.6M', '29M', '33M', '3.1M',
       '28M', '12M', '20M', '21M', '37M', '5.5M', '17M', '39M', '31M',
       '4.2M', '7.0M', '23M', '6.0M', '6.1M', '4.6M', '9.2M', '5.2M',
       '11M', '24M', 'Varies with device', '9.4M', '15M', '10M', '1.2M',
       '26M', '8.0M', '7.9M', '56M', '57M', '35M', '54M', '201k', '3.6M',
       '5.7M', '8.6M', '2.4M', '27M', '2.7M', '2.5M', '16M', '3.4M',
       '8.9M', '3.9M', '2.9M', '38M', '32M', '5.4M', '18M', '1.1M',
       '2.2M', '4.5M', '9.8M', '52M', '9.0M', '6.7M', '30M', '2.6M',
       '7.1M', '3.7M', '22M', '7.4M', '6.4M', '3.2M', '8.2M', '9.9M',
       '4.9M', '9.5M', '5.0M', '5.9M', '13M', '73M', '6.8M', '3.5M',
       '4.0M', '2.3M', '7.2M', '2.1M', '42M', '7.3M', '9.1M', '55M',
       '23k', '6.5M', '1.5M', '7.5M', '51M', '41M', '48M', '8.5M', '46M',
       '8.3M', '4.3M', '4.7M', '3.3M', '40M', '7.8M', '8.8M', '6.6M',
       '5.1M', '61M', '66M', '79k', '8.4M', '118k', '44M', '695k', '1.6M',
       '6.2M', '18k', '53M', '1.4M', '3.0M', '5.8M', '3.8M', '9.6M',
       '45M', '63M', '49M', '77M', '4.4M', '4.8M', '70M', '6.9M', '9.3M',
       '10.0M', '8.1M', '36M', '84M', '97M', '2.0M', '1.9M', '1.8M',
       '5.3M', '47M', '556k', '526k', '76M', '7.6M', '59M', '9.7M', '78M',
       '72M', '43M', '7.7M', '6.3M', '334k', '34M', '93M', '65M', '79M',
       '100M', '58M', '50M', '68M', '64M', '67M', '60M', '94M', '232k',
       '99M', '624k', '95M', '8.5k', '41k', '292k', '80M', '1.7M', '74M',
       '62M', '69M', '75M', '98M', '85M', '82M', '96M', '87M', '71M',
       '86M', '91M', '81M', '92M', '83M', '88M', '704k', '862k', '899k',
       '378k', '266k', '375k', '1.3M', '975k', '980k', '4.1M', '89M',
       '696k', '544k', '525k', '920k', '779k', '853k', '720k', '713k',
       '772k', '318k', '58k', '241k', '196k', '857k', '51k', '953k',
       '865k', '251k', '930k', '540k', '313k', '746k', '203k', '26k',
       '314k', '239k', '371k', '220k', '730k', '756k', '91k', '293k',
       '17k', '74k', '14k', '317k', '78k', '924k', '902k', '818k', '81k',
       '939k', '169k', '45k', '475k', '965k', '90M', '545k', '61k',
       '283k', '655k', '714k', '93k', '872k', '121k', '322k', '1.0M',
       '976k', '172k', '238k', '549k', '206k', '954k', '444k', '717k',
       '210k', '609k', '308k', '705k', '306k', '904k', '473k', '175k',
       '350k', '383k', '454k', '421k', '70k', '812k', '442k', '842k',
       '417k', '412k', '459k', '478k', '335k', '782k', '721k', '430k',
       '429k', '192k', '200k', '460k', '728k', '496k', '816k', '414k',
       '506k', '887k', '613k', '243k', '569k', '778k', '683k', '592k',
       '319k', '186k', '840k', '647k', '191k', '373k', '437k', '598k',
       '716k', '585k', '982k', '219k', '55k', '948k', '323k', '691k',
       '511k', '951k', '963k', '25k', '554k', '351k', '27k', '82k',
       '208k', '913k', '514k', '551k', '29k', '103k', '898k', '743k',
       '116k', '153k', '209k', '353k', '499k', '173k', '597k', '809k',
       '122k', '411k', '400k', '801k', '787k', '50k', '643k', '986k',
       '97k', '516k', '837k', '780k', '961k', '269k', '20k', '498k',
       '600k', '749k', '642k', '881k', '72k', '656k', '601k', '221k',
       '228k', '108k', '940k', '176k', '33k', '663k', '34k', '942k',
       '259k', '164k', '458k', '245k', '629k', '28k', '288k', '775k',
       '785k', '636k', '916k', '994k', '309k', '485k', '914k', '903k',
       '608k', '500k', '54k', '562k', '847k', '957k', '688k', '811k',
       '270k', '48k', '329k', '523k', '921k', '874k', '981k', '784k',
       '280k', '24k', '518k', '754k', '892k', '154k', '860k', '364k',
       '387k', '626k', '161k', '879k', '39k', '970k', '170k', '141k',
       '160k', '144k', '143k', '190k', '376k', '193k', '246k', '73k',
       '992k', '253k', '420k', '404k', '470k', '226k', '240k', '89k',
       '234k', '257k', '861k', '467k', '157k', '44k', '676k', '67k',
       '552k', '885k', '1020k', '582k', '619k'], dtype=object)

In [18]:
#2)What approach you will implement to fill the missing values of the Size column & why?
df["Size"] = df["Size"].replace(['Varies with device','10M'])

In [19]:
df

                                                     App  ...         Last_Updated
0         Photo Editor & Candy Camera & Grid & ScrapBook  ...  2018-01-07 00:00:00
1                                    Coloring book moana  ...  2018-01-15 00:00:00
2      U Launcher Lite â€“ FREE Live Cool Themes, Hide ...  ...  2018-08-01 00:00:00
3                                  Sketch - Draw & Paint  ...  2018-06-08 00:00:00
4                  Pixel Draw - Number Art Coloring Book  ...  2018-06-20 00:00:00
...                                                  ...  ...                  ...
10836                                   Sya9a Maroc - FR  ...  2017-07-25 00:00:00
10837                   Fr. Mike Schmitz Audio Teachings  ...  2018-07-06 00:00:00
10838                             Parkinson Exercices FR  ...  2017-01-20 00:00:00
10839                      The SCP Foundation DB fr nn5n  ...  2015-01-19 00:00:00
10840      iHoroscope - 2018 Daily Horoscope & Astrology  ...  2018-07-25 00:00:00

[10830 rows x 13 columns]

In [20]:
#1)What is the range of the size of most of the apps?
df.Size.max()

'99M'

In [21]:
df.Size.min()

'1.0M'

In [22]:
#Ans) Range=Max-Min=> 99M-1.0M=98M

In [23]:
#3)What is the app name having max price?
df.App.groupby(df['Price']).max()

Price
0.00      ðŸ”¥ Football Wallpapers 4K | Full HD Backgrounds ðŸ˜
0.99                               pretty Easy privacy pâ‰¡p
1.00                               Wi-Fi Rabbit Unlock Key
1.04                                  Word Search Tab 1 FR
1.20                                          sugar, sugar
                                ...
379.99                                 I am extremely Rich
389.99                                           I Am Rich
394.99                                         Eu Sou Rico
399.99                                          ðŸ’Ž I'm rich
400.00                            I'm Rich - Trump Edition
Name: App, Length: 92, dtype: object

In [24]:
#Ans)App name having max price is->I'm Rich - Trump Edition

In [25]:
#4)List top 20 apps in Game Category(Based on Number of Installation)

In [26]:
#Ans) As highest no of installation will the gaming apps.
#     So as we can see in Installs column their two highest value we are getting
#     1,000,000,000+ & 500,000,000+  
df.Installs.value_counts()

1,000,000+        1578
10,000,000+       1252
100,000+          1169
10,000+           1052
1,000+             905
5,000,000+         752
100+               718
500,000+           538
50,000+            478
5,000+             476
100,000,000+       409
10+                385
500+               330
50,000,000+        289
50+                205
5+                  82
500,000,000+        72
1+                  67
1,000,000,000+      58
0+                  14
0                    1
Name: Installs, dtype: int64

In [27]:
Game_1=df[(df.Installs=='500,000,000+')&(df.Category=='GAME')]
Game_1

                   App Category  ...  Content_Rating         Last_Updated
1655  Candy Crush Saga     GAME  ...        Everyone  2018-07-05 00:00:00
1661      Temple Run 2     GAME  ...        Everyone  2018-07-05 00:00:00
1662               Pou     GAME  ...        Everyone  2018-05-25 00:00:00
1702               Pou     GAME  ...        Everyone  2018-05-25 00:00:00
1705  Candy Crush Saga     GAME  ...        Everyone  2018-07-05 00:00:00
1722    My Talking Tom     GAME  ...        Everyone  2018-07-19 00:00:00
1729      Temple Run 2     GAME  ...        Everyone  2018-07-05 00:00:00
1751  Candy Crush Saga     GAME  ...        Everyone  2018-07-05 00:00:00
1759      Temple Run 2     GAME  ...        Everyone  2018-07-05 00:00:00
1842  Candy Crush Saga     GAME  ...        Everyone  2018-07-05 00:00:00
1869  Candy Crush Saga     GAME  ...        Everyone  2018-07-05 00:00:00
1885               Pou     GAME  ...        Everyone  2018-05-25 00:00:00
1886      Temple Run 2     GAME  ...        Everyone  2018-07-05 00:00:00
1908    My Talking Tom     GAME  ...        Everyone  2018-07-19 00:00:00
1920      Temple Run 2     GAME  ...        Everyone  2018-07-05 00:00:00
1966  Candy Crush Saga     GAME  ...        Everyone  2018-07-05 00:00:00
4041      Temple Run 2     GAME  ...        Everyone  2018-07-05 00:00:00

[17 rows x 13 columns]

In [28]:
Game_2=df[(df.Installs=='1,000,000,000+')&(df.Category=='GAME')]
Game_2

                 App Category  ...  Content_Rating         Last_Updated
1654  Subway Surfers     GAME  ...    Everyone 10+  2018-07-12 00:00:00
1700  Subway Surfers     GAME  ...    Everyone 10+  2018-07-12 00:00:00
1750  Subway Surfers     GAME  ...    Everyone 10+  2018-07-12 00:00:00
1872  Subway Surfers     GAME  ...    Everyone 10+  2018-07-12 00:00:00
1917  Subway Surfers     GAME  ...    Everyone 10+  2018-07-12 00:00:00
3896  Subway Surfers     GAME  ...    Everyone 10+  2018-07-12 00:00:00

[6 rows x 13 columns]

In [29]:
Game=pd.concat([Game_1,Game_2])
Game.head(20)

                   App Category  ...  Content_Rating         Last_Updated
1655  Candy Crush Saga     GAME  ...        Everyone  2018-07-05 00:00:00
1661      Temple Run 2     GAME  ...        Everyone  2018-07-05 00:00:00
1662               Pou     GAME  ...        Everyone  2018-05-25 00:00:00
1702               Pou     GAME  ...        Everyone  2018-05-25 00:00:00
1705  Candy Crush Saga     GAME  ...        Everyone  2018-07-05 00:00:00
1722    My Talking Tom     GAME  ...        Everyone  2018-07-19 00:00:00
1729      Temple Run 2     GAME  ...        Everyone  2018-07-05 00:00:00
1751  Candy Crush Saga     GAME  ...        Everyone  2018-07-05 00:00:00
1759      Temple Run 2     GAME  ...        Everyone  2018-07-05 00:00:00
1842  Candy Crush Saga     GAME  ...        Everyone  2018-07-05 00:00:00
1869  Candy Crush Saga     GAME  ...        Everyone  2018-07-05 00:00:00
1885               Pou     GAME  ...        Everyone  2018-05-25 00:00:00
1886      Temple Run 2     GAME  ...        Everyone  2018-07-05 00:00:00
1908    My Talking Tom     GAME  ...        Everyone  2018-07-19 00:00:00
1920      Temple Run 2     GAME  ...        Everyone  2018-07-05 00:00:00
1966  Candy Crush Saga     GAME  ...        Everyone  2018-07-05 00:00:00
4041      Temple Run 2     GAME  ...        Everyone  2018-07-05 00:00:00
1654    Subway Surfers     GAME  ...    Everyone 10+  2018-07-12 00:00:00
1700    Subway Surfers     GAME  ...    Everyone 10+  2018-07-12 00:00:00
1750    Subway Surfers     GAME  ...    Everyone 10+  2018-07-12 00:00:00

[20 rows x 13 columns]

In [30]:
df.App.value_counts()

ROBLOX                                               9
CBS Sports App - Scores, News, Stats & Watch Live    8
Duolingo: Learn Languages Free                       7
8 Ball Pool                                          7
Candy Crush Saga                                     7
                                                    ..
I Am Rich                                            1
Cy-Ranch                                             1
CJ IT ApS                                            1
hellofood - Food Delivery                            1
EGW Writings                                         1
Name: App, Length: 9649, dtype: int64

In [31]:
df.App.unique()

array(['Photo Editor & Candy Camera & Grid & ScrapBook',
       'Coloring book moana',
       'U Launcher Lite â€“ FREE Live Cool Themes, Hide Apps', ...,
       'Parkinson Exercices FR', 'The SCP Foundation DB fr nn5n',
       'iHoroscope - 2018 Daily Horoscope & Astrology'], dtype=object)